#landingPage{
  // Primera Seccion
  #banner{
    background-image: url('./../../sources/img/banner.jpg');
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: 100%;

    div{
      padding-bottom: 17%;
    }

    h2{
      margin: 0;
      padding-top: 29%;
    }
  }
  // Segunda seccion
  #nosotros{
    background: #fff;

    h2{
      color: #000;
      margin: 30% 0 36%;
    }

    #description{
      width: 50%;
      color: #000;
      font-size: 1em;
      padding: 0 3%;
      margin-bottom: 6%;
      text-align: justify;
    }
    #cenfo{
      position: relative;
      z-index: 1;

      img{
        margin-top: 15%;
        border-radius: 2%;
        position: absolute;
      }
    }
  }
  .circuloPadre{
    font-size:1.4em;
    color:#fec108
  }
}
