<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">

    <a class="navbar-brand ml-3 mt-3" href="#!/cenfotecSoftwareHouse">
      <img class="d-inline-block align-top" src="./sources/img/cshLogo.png" width="35" height="35" alt="Cenfotec Software House Logo">
      <p class="d-inline-block font-weight-light mt-1 ml-2">Cenfotec Software House</p>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <!-- <li class="nav-item" ui-sref-active="active">
          <a class="nav-link font-weight-light" href="#banner">Inicio <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link font-weight-light" href="#nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-weight-light" href="#services">Servicios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-weight-light" href="#ubicacion">Ubicación</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link font-weight-light dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Solicitudes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item font-weight-light" href="#!/projectRequest">Solicitud de proyecto</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item font-weight-light" href="#!/studentsRequest">Solicitud de estudiantes</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-light" href="#!/login">Iniciar sesión</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
