<div ng-include="'./components/includes/_header.html'"></div>
<main>
  <section class="col-md-12" id="banner">
      <div class="col-sm-8 offset-2 text-center">
        <h2 class="text-white">Cenfotec Software House</h2>
        <p class="font-weight-light text-white pt-2">Su casa para recibir servicios profesionales en tecnologías de información, de gran calidad, diseñados y construidos por estudiantes y profesores de la <span class="font-weight-bold">Universidad Cenfotec</span> para la comunidad.</p>
        <a class="btn btn-warning" href="#!/projectRequest">Enviar solicitud de proyecto</a>
      </div>
  </section>

  <!-- Services -->
  <section id="services">
    <div class="container mt-4">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Services</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle"></i>
            <i class="fa fa-code fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">E-Commerce</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle"></i>
            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Responsive Design</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle"></i>
            <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Web Security</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="col-12">
      <iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1965.0058695363427!2d-84.03107!3d9.932979860539223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1suniversidad+cenfotec!5e0!3m2!1ses!2s!4v1396040769596" width="100%" height="500" frameborder="0"></iframe>
    </div>
  </section>


  <section id="nosotros">

      <div class="container">
        <div class="col-md-2 offset-5 text-center">
          <h2>Nosotros</h2>
        </div>
      </div>

      <div class="container">

        <div class="row">
          <div class="col-md-6 font-weight-light" id="description">
            <p>El Cenfotec Software House es un proyecto de emprendimiento académico y profesional dentro de la Universidad Cenfotec, donde los estudiantes de la Universidad brindan servicios a la comunidad, asesorados por profesores expertos en diferentes áreas, con precios muy asequibles.</p>
            <p>Los estudiantes que participan del Cenfotec Software House, son estudiantes que han demostrado un nivel de excelencia mayor, que cuentan con altas habilidades tanto técnicas como blandas y con el deseo de ser parte del equipo.</p>
            <p>Cada equipo de trabajo del Cenfotec Software House, cumple con las etapas y las mejores prácticas, según cada caso. Además , se mantendrá en periódica comunicación con el interesado para validar diferentes aspectos del proyecto.</p>
            <p>El Cenfotec Software House brinda a los estudiantes que trabajan en los proyectos, becas como remuneración a su participación.</p>
          </div>

          <div id="cenfo" class="col-md-6">
            <img src="./sources/img/back01.jpg" alt="" width="100%">
          </div>
        </div>

      </div>


</main>
